div {
   
    place-items: center;    
     
       
   
   
   
  }

  #skills-img {

    width: 10%;

  }


  .row {
    padding: 20px;

} 

#azul {
    background: #316bb3;
}




h1, h3 {
    display: inline;
}






@media (min-width: 992px) {
   #logo-array-img {
        
        width: 40%;
        border-radius: 100%;
        box-shadow: 5px 5px 5px grey;
        left: 3%;
        top: 300px;
    }
}

@media  (max-width: 991px) and (min-width: 576px)  {
    
    #logo-array-img {
        
        width: 30%;
        border-radius: 100%;
        box-shadow: 5px 5px 5px grey;
        left: 3%;
        top: 300px;
    }

}



@media (max-width: 575px) {
    #logo-array-img {
        
        width: 40%;
        border-radius: 100%;
        box-shadow: 5px 5px 5px grey;
        left: 33%;
        top: 600px;
    }
}
