#margin-top {

    margin-top: 30px;


}

#azul {

    padding-bottom: 50px;
    background: #316bb3;


}
       
   
   
   
  

  #logo-proyecto-img {

    width: 15%;

  }


  .row {
    padding: 20px;

} 






h1, h3 {
    display: inline;
}





/* grande */
@media (min-width: 992px) {
   #imagen-proyecto-img {


    padding-top: 20px;
        
        width: 900px;
        border-radius: 10%;
        box-shadow: 5px 5px 5px grey;
        left: 3%;
        top: 600px;
    }
}


/* mediano */
@media  (max-width: 991px) and (min-width: 576px)  {
    
    #imagen-proyecto-img {


        padding-top: 50px;

      
        
        width: 600px;
        border-radius: 10%;
        box-shadow: 5px 5px 5px grey;
        left: 3%;
        top: 600px;
    }

}


/* chico */
@media (max-width: 575px) {
    #imagen-proyecto-img {

        padding-top: 50px;
        
        width: 400px;
        border-radius: 10%;
        box-shadow: 5px 5px 5px grey;
        left: 33%;
        top: 600px;
    }
}


#espacio-abajo-azul {

    padding-bottom: 70px;
    background: #316bb3;
    padding-top: 100px;


}




