<div class="row" *ngIf="usuario">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" >

      <!-- <img src="../../../assets/perfil.png" class="img-fluid" id="fotodeperfil" >-->
        
      
      <img src={{usuario.fotoPerfil}} class="img-fluid" id="fotodeperfil">

   


    </div>




    

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
       

        <!-- para usar la base d datos .json -->
       <!--     <h3 id="nombre" >Gonzalo Alvarez</h3>-->
       <h3 id="nombre" > {{usuario.nombre}} {{usuario.apellido}}</h3> 
        
       


         <!-- para usar la base d datos .json -->

        

            


          

   <!--   <h5> Full Stack Developer Jr</h5> -->

    <h5> {{usuario.titulo}}</h5> 

        

    </div>

    <div class="col-xs-12 col-sm-8col-md-8 col-lg-8"> 
        <span>
            <h3 class="text-light">Acerca de mí</h3>
            
     <!--  <p class="text-light">Ingeniero Electromecánico y Doctor en Ingeniería Industrial. Coordinador y Desarrollador de Proyectos en diversas ramas de la ingeniería: procesos, productos, optimización, programación en varios lenguajes</p>  -->  
            <p class="text-light" >{{usuario.descripcion}}</p>
    
    
    </span>
    </div>

  </div>










  <div class="col text-center" >




<!-- Button trigger modal -->
<button type="button" class="btn btn-secondary btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal">
Editar Información del Usuario</button>


</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>








