.row {

    padding: 20px;
}


div {
    
    background: #316bb3;
    text-align: center;


}

/*-- estilo de foto de perfil */



@media (min-width: 576px) {
    #fotodeperfil {
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 5px 5px 5px grey;
        left: 3%;
        top: 300px;
    }
}

@media (max-width: 575px) {
    #fotodeperfil {
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 5px 5px 5px grey;
        left: 33%;
        top: 600px;
    }
}



/* etiqueta nombre */

#nombre {

    font-weight: bold;
    margin-top: 10%;
    margin-left: 10px;
}




