


<!--
<div *ngIf="usuario">

 
   <h3> {{usuario.nombre}}</h3>
   <h2>{{usuario.apellido}}</h2>


  


   <h3> {{usuario.descripcion}}</h3>
  
   <img src="{{usuario.fotoPerfil}}" alt="" width="250">


  

</div>

-->


<div class="row">


   

   <div class="container">
       <div class="logo">
           <img src="../../../assets/APLogo-20-20.png" id="logoAP" alt="">

       </div>
       <div class="redes">
           
               <a href="https://www.linkedin.com/in/gonzaloealvarez/"><img src="../../../assets/linkedin.png" id="linkedin" alt="logo-linkedin"> </a>
               <a href="https://twitter.com"><img src="../../../assets/twitter.jpg" id="twitter" alt=""> </a>
               <a href="https://www.instagram.com/gonzalo_e.alvarez/"><img src="../../../assets/instagramLogo.jpg" id="instagramLogo" alt=""> </a>
               <a href="https://github.com/gonza7795"><img src="../../../assets/GitHubLogo.png" id="git" alt=""> </a>
               <a href="https://www.facebook.com/gonzalo.alvarez.9461/"><img src="../../../assets/facebookLogo.png" id="facebok" alt=""> </a>

               <button type="button" class="btn btn-light">Ingreso</button>
               
          
       </div>

    </div>


</div>
